.avatar {
    height: 25px;
    vertical-align: text-top;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

span {
    padding-right: 5px;
}

.content {
    position: relative;
}

.product-image {
    height: 120px;
    position: relative;
    float: left;
    margin-right: 20px;
    vertical-align :middle;
}

.items {
    position: relative;
    left: 35%;
}

.item {
    margin-bottom: 3em;
    margin-right: 50%;
}
